
.App-logo {
  height: 40vmin;
  pointer-events: none;


}
.bubble {
  background-color: rgb(87, 59, 247);
  color: rgb(208, 12, 12);
  font-weight: bold;
  font-size: 1.2em;
  line-height: 2;
  border-radius: 2px;
  text-align: center;
  margin: auto;
   width: 700px;
   align-content: center;
   
  
}

.bubble2 {
  background-color: rgb(242, 242, 245);
  color: rgb(244, 235, 235);
  font-weight: bold;
  font: size 24px;
  line-height: 2;
  border-radius: 5px;
  text-align: center;
  padding-top: 75px;
  padding-bottom: 75px;
   
  

  
}
